.{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color:white;
    padding: 15px;
    
}

h1,ul,li{
    display: inline;
}

li{
    color: gray;
    cursor: pointer;
}

ul{
    margin-left: 60%;
}
li:hover{
    color: white;
}


.searchbar{
    padding:20px;
    text-align: center;
    /*display:inline-block;*/
    width: 95%;
    height: 20px;
    border-color: black;
}